@import './src/variables';

.columns {
  column-count: 2;
  column-gap: 20px;
  column-fill: balance;

  .boxCustom {
    display: inline-block;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 100%;
  }
}

.rule {
  padding: 10px 15px;
  border-bottom: solid 1px $border-default;
  font-size: 18px;
  display: flex;
}

.ruleText {
  flex: 1;

  span {
    display: block;
    color: $text-secondary;
    font-size: 16px;
  }
}

.ruleValue {
  color: $brand-color;
}

.ruleNeg {
  color: $brand-error;
}
