@import './src/variables';

.profile, .menu {
  width: 373px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.menu {
  margin-top: 10px;
}

.user {
  padding: 15px 25px;
  display: flex;
  flex-wrap: wrap;

  .avatar {
    flex-basis: 140px;
    position: relative;

    .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 54px;
      bottom: 10px;
      left: 80px;
      background: #5383D6;
      border-radius: 100%;
      text-align: center;
      cursor: pointer;
    }

    img {
      border-radius: 100%;
      width: 120px;
    }
  }

  .info {
    min-width: 0;
    flex-basis: 182px;
    padding-top: 25px;

    .name {
      font-family: Interface-bold, sans-serif;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .email {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 29px;
    }
  }
}

.dashboard {
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.body {
  flex: 1;
  position: relative;

  @media (max-width: $tablet-width) {
    order: 3;
  }
}

.rightColumn {
  flex: 0 385px;
  padding-left: 25px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    flex: 1;
    margin-bottom: 15px;
  }
}

.leftColumn {
  flex: 0 373px;
  padding-right: 25px;

  @media (max-width: $tablet-width) {
    flex: 1;
    padding-right: 0;
    margin-bottom: 15px;
  }
}
