@import './src/variables';

.profile, .menu {
  width: 373px;
}

.menu {
  margin-top: 10px;
}

.user {
  padding: 15px 25px;
  display: flex;
  flex-wrap: wrap;

  .avatar {
    flex-basis: 140px;
    position: relative;
    cursor: pointer;

    .icon {
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 54px;
      bottom: 10px;
      left: 80px;
      background: #5383D6;
      border-radius: 100%;
      text-align: center;
    }

    img {
      border-radius: 100%;
      width: 120px;
    }
  }

  .info {
    min-width: 0;
    flex-basis: 182px;
    padding-top: 25px;

    .name {
      font-family: Interface-bold, sans-serif;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .email {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 29px;
    }
  }
}

.menuLinks {
  .item {
    text-decoration: none;
    font-size: 20px;
    color: $text-default;
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      font-family: Interface-bold, sans-serif;
      color: $brand-color;
    }
  }
}

.dashboard {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

.body {
  flex: 1;
  position: relative;
}

.rightColumn {
  flex: 0 385px;
  padding-left: 25px;
}

.leftColumn {
  flex: 0 373px;
  padding-right: 25px;
}
