@import './src/variables';

.profile {
  background: $background-light;
  border-radius: 10px;

  .title {
    padding: 15px;
    border-bottom: solid 1px #ccc;
  }
}

.user {
  padding: 15px;
  display: flex;

  .avatar {
    flex: 1;

    img {
      border-radius: 100%;
    }
  }

  .info {
    flex: 1;
  }
}

.dashboard {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;

  .body {
    width: 640px;
  }

  .rightColumn {
    width: 400px;
    padding-left: 30px;
  }

  .leftColumn {
    width: 400px;
    padding-right: 30px;
  }
}