@import "src/variables";

.loginContainer {
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 90px auto auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 80px 0 20px;

  .title {
    margin-bottom: 60px;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;

    strong {
      font-family: Interface-bold, sans-serif;
    }
  }
}

.loginForm {
  background: $background-light;
  border-radius: 15px;
  padding: 40px 25px 50px;
}

.intro {
  font-size: 25px;
  font-family: Interface-bold, sans-serif;
  margin-bottom: 40px;

  svg {
    margin-right: 15px;
    vertical-align: middle;
  }
}

.introLight {
  font-size: 24px;
  opacity: 0.5;
  margin-bottom: 40px;
}

.loginBtn {
  width: 100%;
  margin: 20px 0;
}

.link {
  color: $brand-color;
  text-decoration: none;
  font-size: 20px;
}

.signup {
  margin-top: 50px;
  font-size: 20px;

  a {
    font-family: Interface-bold, sans-serif;
  }
}

.verContainer {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 92px;
  line-height: 92px;
  font-size: 48px; 
  width: 450px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 17px;
}

.verChar {
  border-radius: 10px;
  height: 92px;
  border-color: $border-default;
  border-width: 1.5px;
  background-color: $background-light;
}

.country {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.terms {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  color: $text-secondary;
}
