@import "src/variables";

.loginContainer {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .title {
    margin-bottom: 30px;
  }
}

.loginForm {
  background: $background-light;
  border-radius: 20px;
  padding: 40px 20px;
}

.intro {
  font-weight: bold;
  margin-bottom: 30px;
}

input {
  height: 50px;
  display: block;
  width: 100%;
  border: solid 1px gray;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.fields {
  text-align: left;

  input {
    margin-top: 10px;
  }
}

.loginBtn {
  width: 100%;
  display: block;
  text-decoration: none;
  background: $brand-color;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  margin: 30px 0 20px;
  color: $text-light;
  font-weight: bold;
}

.link {
  color: $brand-color;
  text-decoration: none;
}

.signup {
  margin-top: 40px;
}

.verContainer {
  margin-top: 20px;
}

.verChar {
  border-radius: 6px;
  flex: 0 50px;
}

.country {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  margin-right: 10px;
}
