@import './src/variables';

.fieldContainer {
  text-align: center;
  display: flex;
  height: 692px;
  border-radius: 15px;
  padding: 100px 20px 20px;
  position: relative;
}

.field {
  width: 257px;
  height: 417px;
  position: relative;
  display: flex;
  margin: 0 auto;

  .playerPos {
    position: absolute;
    display: none;

    &:first-child {
      display: block;
      top: -14px;
      left: 66px;
    }
  }

  &.team4 {
    .playerPos:nth-child(2) {
      display: block;
      left: 66px;
      top: 113px;
    }

    .playerPos:nth-child(6) {
      display: block;
      left: 66px;
      top: 241px;
    }

    .playerPos:nth-child(10) {
      display: block;
      left: 66px;
      top: 364px;
    }
  }

  &.team8 {
    .playerPos:nth-child(2) {
      display: block;
      left: 3px;
      top: 115px;
    }

    .playerPos:nth-child(3) {
      display: block;
      left: 127px;
      top: 115px;
    }

    .playerPos:nth-child(6) {
      display: block;
      left: 3px;
      top: 241px;
    }

    .playerPos:nth-child(7) {
      display: block;
      left: 127px;
      top: 241px;
    }

    .playerPos:nth-child(10) {
      display: block;
      left: -37px;
      top: 367px;
    }

    .playerPos:nth-child(11) {
      display: block;
      left: 66px;
      top: 367px;
    }

    .playerPos:nth-child(12) {
      display: block;
      left: 169px;
      top: 367px;
    }
  }

  &.team11 {
    .playerPos:nth-child(2) {
      display: block;
      left: -66px;
      top: 118px;
    }

    .playerPos:nth-child(3) {
      display: block;
      left: 23px;
      top: 118px;
    }

    .playerPos:nth-child(4) {
      display: block;
      left: 112px;
      top: 118px;
    }

    .playerPos:nth-child(5) {
      display: block;
      left: 200px;
      top: 118px;
    }

    .playerPos:nth-child(6) {
      display: block;
      left: -66px;
      top: 220px;
    }

    .playerPos:nth-child(7) {
      display: block;
      left: 23px;
      top: 220px;
    }

    .playerPos:nth-child(8) {
      display: block;
      left: 112px;
      top: 220px;
    }

    .playerPos:nth-child(9) {
      display: block;
      left: 200px;
      top: 220px;
    }

    .playerPos:nth-child(10) {
      display: block;
      left: 5px;
      top: 367px;
    }

    .playerPos:nth-child(11) {
      display: block;
      left: 129px;
      top: 367px;
    }
  }
}

.playerWrap {
  text-decoration: none;
  color: $text-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.player {
  height: 63px;
  width: 63px;
  text-align: center;
  background: $background-light;
  border-radius: 100%;
  font-size: 14px;
  font-family: Interface-bold, sans-serif;
  padding-top: 14px;
  cursor: pointer;

  .plus {
    font-size: 26px;
    line-height: 17px;
  }

  img {
    width: 100%;
    margin-top: -14px;
  }
}

.playerName {
  background: $background-light;
  border-radius: 50px;
  padding: 4px 8px;
  font-weight: bold;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 130px;
  font-size: 14px;
}


.tabs {
  display: flex;
  flex-direction: column;

  .tab {
    width: 88px;
    height: 88px;
    line-height: 88px;
    color: $text-light;
    background: $background-default;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-family: Interface-bold, sans-serif;
    margin-bottom: 12px;

    &.active {
      background: $background-light;
      color: $text-default;
    }
  }
}

.autoFillButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: $background-default;
  color: $text-light;
  font-size: 16px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Interface-bold, sans-serif;
}
