@import './src/variables';

.fieldContainer {
  text-align: center;
  display: flex;
  height: 692px;
  border-radius: 15px;
  padding: 100px 20px 20px;
}

.field {
  width: 257px;
  height: 417px;
  position: relative;
  display: flex;
  margin: 0 auto;

  .playerPos {
    position: absolute;
    display: none;

    &:first-child {
      display: block;
      top: -14px;
      left: 96px;
    }
  }

  &.team4 {
    .playerPos:nth-child(2) {
      display: block;
      left: 96px;
      top: 113px;
    }

    .playerPos:nth-child(6) {
      display: block;
      left: 96px;
      top: 241px;
    }

    .playerPos:nth-child(10) {
      display: block;
      left: 96px;
      top: 364px;
    }
  }

  &.team8 {
    .playerPos:nth-child(2) {
      display: block;
      left: 33px;
      top: 115px;
    }

    .playerPos:nth-child(3) {
      display: block;
      left: 157px;
      top: 115px;
    }

    .playerPos:nth-child(6) {
      display: block;
      left: 33px;
      top: 241px;
    }

    .playerPos:nth-child(7) {
      display: block;
      left: 157px;
      top: 241px;
    }

    .playerPos:nth-child(10) {
      display: block;
      left: -7px;
      top: 367px;
    }

    .playerPos:nth-child(11) {
      display: block;
      left: 96px;
      top: 367px;
    }

    .playerPos:nth-child(12) {
      display: block;
      left: 199px;
      top: 367px;
    }
  }

  &.team11 {
    .playerPos:nth-child(2) {
      display: block;
      left: -36px;
      top: 118px;
    }

    .playerPos:nth-child(3) {
      display: block;
      left: 53px;
      top: 118px;
    }

    .playerPos:nth-child(4) {
      display: block;
      left: 142px;
      top: 118px;
    }

    .playerPos:nth-child(5) {
      display: block;
      left: 230px;
      top: 118px;
    }

    .playerPos:nth-child(6) {
      display: block;
      left: -36px;
      top: 220px;
    }

    .playerPos:nth-child(7) {
      display: block;
      left: 53px;
      top: 220px;
    }

    .playerPos:nth-child(8) {
      display: block;
      left: 142px;
      top: 220px;
    }

    .playerPos:nth-child(9) {
      display: block;
      left: 230px;
      top: 220px;
    }

    .playerPos:nth-child(10) {
      display: block;
      left: 35px;
      top: 367px;
    }

    .playerPos:nth-child(11) {
      display: block;
      left: 159px;
      top: 367px;
    }
  }
}

.playerWrap {
  text-decoration: none;
  color: $text-default;
}

.player {
  height: 63px;
  width: 63px;
  text-align: center;
  background: $background-light;
  border-radius: 100%;
  font-size: 14px;
  font-family: Interface-bold, sans-serif;
  padding-top: 14px;
  cursor: pointer;

  .plus {
    font-size: 26px;
    line-height: 17px;
  }
}

.playerName {
  background: $background-light;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: bold;
  margin-top: 5px;

  &:empty {
    display: none;
  }
}


.tabs {
  display: flex;
  flex-direction: column;

  .tab {
    width: 88px;
    height: 88px;
    line-height: 88px;
    color: $text-light;
    background: $background-default;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-family: Interface-bold, sans-serif;
    margin-bottom: 12px;

    &.active {
      background: $background-light;
      color: $text-default;
    }
  }
}
