@import './src/variables';

.container {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 20px;

  &.center {
    justify-content: center;
  }

  &.left {
    width: 400px;
  }
}

.logo {
  display: flex;
  z-index: 10;
  flex: 1;
}
