@import './src/variables';

.nav {
  z-index: 10;
  display: flex;
  align-items: self-end;
  height: 90px;
  flex: 2;

  @media (max-width: $tablet-width) {
    position: absolute;
    flex-direction: column;
    background: #000;
    width: 80%;
    height: calc(100vh - 90px);
    left: 0;
    top: 90px;
    align-items: start;

    .menuLinks {
      width: 100%;

      .menuItem {
        color: $text-light;
        padding: 15px 18px;
        border-bottom: solid 1px #2A2A2A;
        width: 100%;
        margin-bottom: 0;
      }
    }

    &.showMenu {
      display: flex;
    }

    &.hideMenu {
      display: none;
    }
  }
}

.item {
  color: $text-secondary;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-bottom: solid 7px transparent;
  justify-content: center;
  padding: 20px 0;
  flex: 1;

  svg {
    margin-right: 10px;
    fill: $text-secondary;
    stroke: $text-secondary;
  }
}

.active {
  border-bottom-color: $brand-color;
  color: $text-light;
  font-family: Interface-bold, sans-serif;

  svg {
    fill: $text-light;
    stroke: $text-light;
  }
}

.hamburger {
  z-index: 20;
  order: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    background: white;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &.isOpen {
    .burger1 {
      transform: rotate(45deg);
    }

    .burger2 {
      opacity: 0;
    }

    .burger3 {
      transform: rotate(-45deg);
    }
  }
}

.menuLinks {
  .menuItem {
    text-decoration: none;
    font-size: 20px;
    color: $text-default;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      font-family: Interface-bold, sans-serif;
      color: $brand-color;
    }
  }
}

