@import './src/variables';

.tabs {
  display: flex;
  padding: 10px 15px;
  font-size: 20px;

  > div {
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  .active {
    font-family: Interface-bold, sans-serif;
    font-weight: bold;
    color: $brand-color;
  }
}

.item {
  background: $background-light;
  border-radius: 10px;
  margin-top: 10px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.shirt {
  flex: 0 60px
}

.info {
  flex: 1;
  font-size: 16px;
  line-height: 24px;

  .name {
    font-weight: bold;
    font-size: 18px;
  }

 span {
    color: $brand-color;
   font-weight: bold;
  }
}


.score {
  flex: 0 100px;
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  color: #999;
}

.points {
  font-size: 16px;
  line-height: 24px;
  color: $brand-color;
  font-weight: bold;
}
