$mobile-width: 600px;
$tablet-width: 1024px;
$desktop-width: 1710px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width + 1px}) {
    @content;
  }
}

$brand-color: #00A826;
$text-default: #1A1818;
$text-secondary: #999;
$text-light: #fff;
$background-default: #323232;
$background-light: #fff;
$header-default: #000;
$border-default: #DBDBDB;
$input-icons: #D2D2D2;

 @mixin font($font-family, $font-weight, $font-file) {
   @font-face {
     font-family: $font-family;
     src: url($font-file + '.woff2') format('woff2'),
     url($font-file + '.woff') format('woff');
     font-weight: $font-weight;
     font-style: normal;
   }
 }
 @include font('Interface', '400', '/public/fonts/interface_400');
 @include font('Interface-bold', '700', '/public/fonts/interface_700');

