@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

body {
  font-family: InterFace, sans-serif;
}

strong {
  font-family: Interface-bold, sans-serif;
}

a {
  color: $brand-color;
}

.mt10 {
  margin-top: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.tabs {
  padding: 20px 24px;
  margin: 0;
  display: flex;

  .tab {
    outline: none;
    list-style: none;
    font-family: Interface-bold, sans-serif;
    font-size: 20px;
    padding: 0 30px 3px;
    cursor: pointer;

    &.selected {
      border-bottom: solid 3px $brand-color;
    }
  }
}

.tabsSimple {
  display: flex;
  padding: 10px 15px;
  font-size: 20px;

  .tab {
    flex: 1;
    text-align: center;
    cursor: pointer;
    list-style: none;
    outline: none;

    &.selected {
      font-family: Interface-bold, sans-serif;
      font-weight: bold;
      color: $brand-color;
    }
  }
}

.button {
  background: $brand-color;
  border-radius: 50px;
  color: $text-light;
  border: none;
  padding: 7px 15px;
  font-size: 16px;
  font-family: Interface-bold, sans-serif;
  height: 30px;
  cursor: pointer;

  & svg {
    fill: $text-light;
    height: 15px;
  }

  &.large {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    border-radius: 10px;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: center;
  }

  &.small {
    height: auto;
  }

  &.fake {
    cursor: default;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.buttonSecondary {
  background: #ED1C24;
}

.button + .button {
  margin-left: 5px;
}

.box {
  background: $background-light;
  border-radius: 15px;

  .boxTitle {
    border-bottom: solid 1px $border-default;
    font-family: Interface-bold, sans-serif;
    font-size: 24px;
    padding: 15px 25px;
  }

  .bn {
    border: none;
  }

  .boxContent {
    padding: 15px 25px;
  }
}

.backButton {
  color: $brand-color;
  font-family: InterFace, sans-serif;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.inputIcons {
  position: relative;
  margin-bottom: 10px;

  i {
    position: absolute;
    left: 16px;
    top: 20px;

    svg {
      fill: $input-icons;
    }
  }

  input {
    width: 100%;
    padding: 18px 20px 18px 45px;
    font-size: 18px;
    border: solid 1px #ccc;
    height: 60px;
    border-radius: 10px;
    outline: none;
    font-family: InterFace, sans-serif;
  }
}

.isMobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.isDesktop {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
