@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

body {
  font-family: InterFace, sans-serif;
}

.button {
  background: $brand-color;
  border-radius: 50px;
  color: $text-light;
  border: none;
  padding: 7px 15px;
  font-size: 16px;
  font-family: Interface-bold, sans-serif;
  height: 30px;
  cursor: pointer;

  & svg {
    fill: $text-light;
    height: 15px;
  }
}

.buttonSecondary {
  background: #ED1C24;
}

.button + .button {
  margin-left: 5px;
}

.box {
  background: $background-light;
  border-radius: 15px;

  .boxTitle {
    border-bottom: solid 1px $border-default;
    font-family: Interface-bold, sans-serif;
    font-size: 24px;
    padding: 15px 25px;
  }

  .boxContent {
    padding: 15px 25px;
  }
}
